#signup-form {
    margin-block:4%;
    margin-inline:10%;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color:white;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    padding-top:5rem;
    padding-bottom:5rem;
}

#frmSignup {
display: flex;
flex-direction: column;
grid-column:2;
}

#frmSignup div {
    margin-bottom:1rem;
}

#frmSignup input {
    padding-top:1rem;
    padding-bottom:1rem;
    width:100%;
    padding-left:0.5rem;
    box-sizing: border-box;
}

#signup2 {
    background-color: var(--secondary-color);
    color:#ffff;
    border:none;
    border-color: var(--secondary-color);
    border-radius:0.5rem;
    font-size: 1rem;
    text-decoration: none;
    width:100%;
    max-width:100%;
    margin-top:1rem;
}

#signup2:hover {
    cursor:pointer;
    background-color: #e25d5d;
}

@media screen and (min-width:1024px) {

    #signup-form {
        margin-inline:25%;
    }
}