@import url('variables.css');

#specific-author img {
    width:100%;
    max-width:30rem;
    grid-column:1;
    object-fit:cover;
}

.author-content {
    display:grid;
    grid-template-columns: 1fr;
    padding:2rem;
    margin:4rem;
    border-radius:1rem;
    background-color: white;
    place-self:center;
    gap:0;
}

.author-details {
    display: flex;
    flex-direction: column;
    padding-top:1rem;
}

.author-details p {
    padding-top:0.5rem;
}

#specific-author .books-section {
    margin:4rem;
}

#specific-author .books-section h3 {
    margin-bottom:1rem;

}

#specific-author .books-list {
    display:grid;
    grid-template-columns: 1fr;
}

#specific-author .book-card {
    display:flex;
    flex-direction: column;
    background-color:white;
    border-radius:0.5rem;
    width:100%;
    margin-bottom:2rem;
}
#specific-author .book-card img {
    max-width:100%;
}


#specific-author .book-card h4 {
padding:1rem;
}

@media screen and (min-width:1024px) {
    .author-content {
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding:2rem;
        margin:4rem;
        border-radius:1rem;
        background-color: white;
        place-self:center;
        gap:0;
    }

    .author-details {
        padding-top:4rem;
        padding-left:1rem;
    }

    .author-details p {
        padding-top:2rem;
    }

    #specific-author .books-list {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #specific-author .book-card {
        width:80%;
        margin:1rem;
    }
}